nav {
  padding: 1rem 5vw;

  background-color: var(--bg-color-white);
}

nav ul {
  display: grid;
  gap: 0.5vh 0.5vw; // row column padding

  grid-template-columns: 6, auto; // ancho de la columna
  grid-template-rows: auto;
  justify-content: start;

  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: var(--link-color);
}
nav a:hover {
  color: var(--link-color-hover);
}

nav input {
  border-radius: 25px;
  border: .5px solid purple;
  padding: .25rem 0 .25rem .5rem;
}

nav a.active-link {
  color: orange;
}

@media screen and (min-width: 1325px) {
  nav ul {

  gap: 0.5vh 0.5vw; // row column padding

  grid-template-columns: repeat(4, auto); // ancho de la columna
  justify-content: space-evenly;
  }

}

/*
// VERSION CON DISPLAY FLEX

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  //align-content: center;

  font-family: 'Asap';
  font-style: italic;
  font-weight: 700;

  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  text-transform: uppercase;
  color: var(--link-color);
}
nav a:hover {
  color: var(--link-color-hover);
}

nav input {
  border-radius: 25px;
  border: .5px solid green;
  padding: .25rem 0 .25rem .5rem;
}

*/
