<main class="profile" *ngIf="currentDriver">

  <div class="col-left">
    <img class="imgProfile" src="{{ currentDriver?.profileImg }}" alt="{{ currentDriver?.name }} {{ currentDriver?.lastName }}">
    <div class="social">
      <button class="followTwitterButton">Follow {{ currentDriver?.twitter }}</button>
      <button class="followYoutubeButton">Follow {{ currentDriver?.youtube }}</button>
    </div>
    <div class="description">
      <p>{{ currentDriver?.description }}</p>
    </div>
  </div>
  <div class="col-right">
    <h2>{{ currentDriver?.name }} {{ currentDriver?.lastName }}</h2>
    <p>{{ currentDriver?.location }}</p>
    <div class="video-list">
      <app-videos-list></app-videos-list>
    </div>
  </div>


</main>
