<div class="profile" *ngIf="currentDriver">

  <div class="col-left">
    <img class="imgProfile" src="{{ currentDriver?.profileImg }}" alt="{{ currentDriver?.name }} {{ currentDriver?.lastName }}">
    <div class="social">
      <button class="followTwitterButton">Follow {{ currentDriver?.twitter }}</button>
      <button class="followYoutubeButton">Follow {{ currentDriver?.youtube }}</button>
    </div>
    <!--div class="description"></div-->
  </div>
  <div class="col-right">
    <h1>{{ currentDriver?.name }} {{ currentDriver?.lastName }}</h1>
    <p class="location">{{ currentDriver?.location }}</p>
    <p class="description">{{ currentDriver?.description }}</p>
    <div class="video-list">
      <app-videos-list></app-videos-list>
    </div>
    <p>MONTAR EL PROFILE CON DISPLAY GRID</p>
  </div>


</div>
