.profile {
  background-color: lightgoldenrodyellow;

  display: flex;
  padding-top: 5rem;
}

.col-left {
  background-color: rebeccapurple;

  max-width: 270px;
}
.imgProfile {}
.social {}
.description {}

.col-right {}
.video-list {}
