.driver-list-card {
  display: grid;
  gap: 0.5vh 0.5vw; // row column padding
  /*row-gap: 0.5vh; // row padding */
  /*column-gap: 0.5vw; // column padding */
  grid-template-columns: repeat(6, auto); // ancho de la columna
  grid-template-rows: auto;
  justify-content: space-between;

  text-decoration: none;
}

.driver-list-card a {
  background-color: var(--bg-color-white);


  line-height: 0;
  text-align: center;
  color: var(--link-color);
}
.driver-list-card a:hover {
  background-color: var(--bg-color-white-hover);
}

.driver-list-card img {
  /* formato 16:9*/
  width: 192px;
  height: 108px;
  object-fit: cover;
}

.driver-list-card a.active-link {
  color: orange;
}

@media screen and (min-width: 1325px) {

  .driver-list-card {
    gap: 0 0.5vw; // row column padding
    /*row-gap: 1vh;// row padding */
    /*column-gap: 0.5vw; // column padding */
    grid-template-columns: repeat(12, auto); // ancho de la columna
    grid-template-rows: auto;
  }

  .driver-list-card img {
    /* formato 4:3*/
    width: 102.4px;
    height: 76.8px;
  }

}

/*
// VERSION CON DISPLAY FLEX

.driver-list-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;

  padding: 1rem 0 0.5rem;
}

.driver-list-card a {
  background-color: var(--bg-color-white);

  align-self: center;
  margin: 0;
  line-height: 0;
  text-align: center;
  color: var(--link-color);
}
.driver-list-card a:hover {
  background-color: var(--bg-color-white-hover);
}

.driver-list-card img {
  width: 80px;
  height: 50px;
  object-fit: cover;
}

*/
