.bg-test {
  background-color: lightyellow;
}

.driver-list-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1em;
  text-decoration: none;
  color: black;

  background-color: lightyellow;
}

.driver-list-card a {
  align-self: center;
  margin: 0;
}
.driver-list-card a:hover {
  background-color: moccasin;
}

.driver-list-card img {
  width: 50px;
}
