<div class="video-list">

  <p>New video list</p>

  <h2>Last videos</h2>
  <p>Descripción</p>

  <div class="carousel">
    <button>Prev</button>
    <button (click)="nextImg()">Next</button>
    <div *ngFor="let item of videoList; let index = index" class="carousel-item"
      (click)="openVideoPlayer(item.snippet.title, item.id.videoId)">
      <img class="carousel-thumbnail" src="{{ item.snippet.thumbnails.high.url }}" width="100%" alt="{{ index }}">
      <!--h3>{{ item.snippet.title }}</h3>
        <p>{{ item.snippet.description }}</p-->
    </div>
  </div>
</div>
