@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap');

:root {
  --bg-color-white: #fcfcfc;
  --bg-color-gray: #e8eaed;
  --bg-color-white-hover: #fff;
  --text-color: #202124;
  --link-color: #5f6368;
  --link-color-hover: #202124;
}

* { box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;

  color: var(--text-color);
  background-color: var(--bg-color-gray);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}


p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.championship,
.home,
.page-not-found,
.profile,
.team { padding: 1vh 5vw; }


/* FONT

REFERENCIA:
https://careers.google.com/

Roboto condensed
Para Títulos 700  (nombre piloto)

Roboto
Para enlaces 500 (header, driver list)

Nunito
También hay para 400

================
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
================

*/
